.container-custom{
  width: 87%;
  height: 100%;
  float: right;
  padding: 2% 2% 2% 2%;
  min-height: 100px;
}

.container-custom-active{
  width: 100%;
  height: 100%;
  float: right;
  padding: 2% 2% 2% 2%;
  min-height: 100px;
}
