<div class="row justify-content-center">
  <div class="col-10 col-app animate__animated animate__fadeIn animate__fast">
    <h3 class="text-center">Usuarios perfil</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Perfil</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Usuario</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <th scope="row">{{usuario.id}}</th>
          <td><img [src]="usuario.urlImagen!=''?usuario.urlImagen:'http://localhost:8080/media/visualizar/logo.jpg' "
              alt="Logo" width="40" height="40" class="d-inline-block rounded-circle logo"></td>
          <td>{{usuario.nombres}}</td>
          <td>{{usuario.apellidos}}</td>
          <td>{{usuario.usuario}}</td>
          <td><a class="btn btn-danger"><i class="bi bi-trash3-fill"></i></a> / <a class="btn btn-warning"><i class="bi bi-plus-square-dotted"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
