<div class="row justify-content-center">
  <div class="card col-10 col-app animate__animated animate__fadeIn animate__fast">
    <h3 class="card-header text-center">Usuarios perfil</h3>
    <div class="card-body">
      <table class="table table-hover" *ngIf="usuarios">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Perfil</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Usuario</th>
            <th scope="col">Rol</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <th scope="row">{{usuario.id}}</th>
            <td><img [src]="usuario.urlImagen!=''?usuario.urlImagen:'http://localhost:8080/media/visualizar/logo.jpg' "
                alt="Logo" width="40" height="40" class="d-inline-block rounded-circle logo"></td>
            <td>{{usuario.nombres}}</td>
            <td>{{usuario.apellidos}}</td>
            <td>{{usuario.usuario}}</td>
            <td>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="usuario.rol"
                (change)="CambiarRol(usuario)">
                <option value="ROLE_ADMIN">Admin</option>
                <option value="ROLE_USER">User</option>
              </select>
            </td>
            <td>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="usuario.estado"
                (change)="inhabilitarUsuario(usuario)">
                <option value="true">Habilitado</option>
                <option value="false">Inhabilitado</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-dark text-center" role="alert" *ngIf="!usuarios">
        No existen datos
      </div>
      <a class="btn btn-success mx-2"><i class="bi bi-file-earmark-spreadsheet-fill"></i></a><a
        class="btn btn-danger"><i class="bi bi-file-earmark-pdf"></i></a>
    </div>
  </div>
</div>
