<nav class="navbar bg-body-tertiary w80p-fr">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <h4><i class="bi bi-browser-safari"></i> App Gestor</h4>
    </a>
    <ul class="nav justify-content-end">
    <li class="nav-item dropstart dc-li">
      <ul class="dropdown-menu animate__animated animate__fadeIn animate__faster">
        <li><a class="dropdown-item" routerLink="/perfil">Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item"  routerLink="/login" (click)="salir()">Salir</a></li>
      </ul>
      <a class="nav-link dropdown-toggle py-1 px-1" data-bs-toggle="dropdown" role="button" aria-expanded="false">
          <img [src]="usuario.imagenUrl" alt="Logo" width="30" height="30"
          class="d-inline-block rounded-circle logo">
      </a>
    </li>
  </ul>
  </div>
</nav>
