<nav class="navbar bg-body-tertiary w80p-fr">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h5>App Gestor</h5>
    </a>
    <li class="nav-item dropdown dc-li">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
          <img src="./../../../../assets/images/logo.jpg" alt="Logo" width="40" height="40"
          class="d-inline-block rounded-circle logo">
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/perfil">Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Salir</a></li>
      </ul>
    </li>
  </div>
</nav>
