<nav class="navbar bg-body-tertiary w80p-fr">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h5>App Gestor</h5>
    </a>
    <li class="nav-item dropstart dc-li">
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/perfil">Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item"  routerLink="/login" (click)="salir()">Salir</a></li>
      </ul>
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
          <img src="http://localhost:8080/media/visualizar/perfil.jpeg" alt="Logo" width="40" height="40"
          class="d-inline-block rounded-circle logo">
      </a>
    </li>
  </div>
</nav>
